<!--The content below is only a placeholder and can be replaced.-->

<app-card></app-card>

<section class="theme-buttons">
  <app-theme-block 
     [theme]="indigoPinkTheme" 
     (click)="theme = indigoPinkTheme">
  </app-theme-block>
  <app-theme-block 
     [theme]="pinkBlueGrayTheme" 
     (click)="theme = pinkBlueGrayTheme">
  </app-theme-block>
  <app-theme-block 
     [theme]="deepPurpleAmberTheme"
     (click)="theme = deepPurpleAmberTheme">
  </app-theme-block>
  <app-random-theme-block 
     (click)="theme = randomTheme()">
  </app-random-theme-block>
</section>

<!-- <router-outlet></router-outlet> -->
